#wrapper{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid #35d693;
}

#currenTime{
    float: right;
}

#questions{
    position: relative;
    margin: 20px;
}

#startTimer{
    background-color: #35d693;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 18px;
    color: black;
}

